<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="{{ asset('assets/') }}/" data-template="vertical-menu-template-free">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content=""/>
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/') }}/img/images/Logo.png"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ asset('assets/') }}/vendor/fonts/boxicons.css"/>
		<link rel="stylesheet" href="{{ asset('assets/') }}/vendor/css/core.css" class="template-customizer-core-css"/>
		<link rel="stylesheet" href="{{ asset('assets/') }}/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
		<link rel="stylesheet" href="{{ asset('assets/') }}/css/demo.css"/>
		<link rel="stylesheet" href="{{ asset('assets/') }}/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
		<script src="{{ asset('assets/') }}/vendor/js/helpers.js"></script>
		<script src="{{ asset('assets/') }}/js/config.js"></script>
	</head>
	<body>
		<div class="layout-wrapper layout-content-navbar">
			<div class="layout-container">
				<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
					<div class="app-brand demo">
						<a href="{{path('app_homepage')}}" class="app-brand-link">
							<span class="app-brand-logo demo">
								<img src="{{ asset('assets/') }}/img/images/Logo-Cercle.png" alt="Waves" style="height: 29px;">
							</span>
							<span class="app-brand-text demo menu-text fw-bolder ms-4" style="background: linear-gradient(90deg, #049cba 0%, #02466a 100%);text-transform:none;-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size: 22px;">
							WanderWings</span>
						</a>
						<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
							<i class="bx bx-chevron-left bx-sm align-middle"></i>
						</a>
					</div>

					<div class="menu-inner-shadow"></div>

					<ul class="menu-inner py-1">
						<li class="menu-item">
							<a href="{{path('app_homepage')}}" class="menu-link">
								<i class="menu-icon tf-icons bx bx-home-circle"></i>
								<div data-i18n="Analytics">Accueil</div>
							</a>
						</li>
						<li class="menu-header small text-uppercase">
							<span class="menu-header-text">Les gestions</span>
						</li>
						<li class="menu-item {{ app.request.attributes.get('_route') == 'app_user_dashboard' or app.request.attributes.get('_route') == 'app_userEdit_dashboard' ? 'active' }}">
							<a href="{{path('app_user_dashboard')}}" class="menu-link">
								<i class="menu-icon tf-icons bx bx-calendar-event"></i>
								<div data-i18n="Analytics">Utilisateurs</div>
							</a>
						</li>
						<li class="menu-item {{ app.request.attributes.get('_route') == 'app_ticket_index' or app.request.attributes.get('_route') == 'app_ticket_index' or app.request.attributes.get('_route') == 'app_ticket_edit' or app.request.attributes.get('_route') == 'app_ticket_show' ? 'active' }}">
							<a href="{{path('app_ticket_index')}}" class="menu-link">
								<i class="menu-icon tf-icons bx bx-credit-card-front"></i>
								<div data-i18n="Analytics">Tickets</div>
							</a>
						</li>
						<li class="menu-item {{ app.request.attributes.get('_route') == 'app_trip_index' or app.request.attributes.get('_route') == 'app_trip_index' or app.request.attributes.get('_route') == 'app_trip_edit' or app.request.attributes.get('_route') == 'app_trip_show' ? 'active' }}">
							<a href="{{path('app_trip_index')}}" class="menu-link">
								<i class="menu-icon tf-icons bx bxs-plane-alt"></i>
								<div data-i18n="Analytics">Trip</div>
							</a>
						</li>
					</ul>
				</aside>

				<div class="layout-page">
					<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
						<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
							<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
								<i class="bx bx-menu bx-sm"></i>
							</a>
						</div>
						<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
							<div class="navbar-nav align-items-center">
								<div class="nav-item d-flex align-items-center">
									<i class="bx bx-search fs-4 lh-0"></i>
									<input type="text" id="search" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..."/>
								</div>
							</div>
							<ul class="navbar-nav flex-row align-items-center ms-auto">
								{% if app.user %}
									<ul class="navbar-nav">
										<li class="nav-item navbar-dropdown dropdown-user dropdown">
											<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
												<div class="avatar">
													<img src="{{asset('uploads/' ~ app.user.image)}}" alt="" class="w-px-40 rounded-circle">
												</div>
											</a>
											<ul class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
												<li>
													<a class="dropdown-item" href="{{path('app_profile')}}">
														<div class="d-flex">
															<div class="flex-shrink-0 me-3">
																<div class="avatar">
																	<img src="{{asset('uploads/' ~ app.user.image)}}" alt="" class="w-px-40 rounded-circle">
																</div>
															</div>
															<div class="flex-grow-1">
																<span class="fw-semibold d-block">{{app.user.name}}
																	{{app.user.prename}}</span>
																<small class="text-muted">
																	{% for role in app.user.roles %}
																		{% if role == "ROLE_USER" %}User
																			{% elseif role == "ROLE_ADMIN" %}Admin
																		{% endif %}
																		{% if not loop.last %},
																		{% endif %}
																	{% endfor %}
																</small>
															</div>
														</div>
													</a>
												</li>
												<li>
													<div class="dropdown-divider"></div>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('app_profile') }}">
														<i class="bx bx-user me-2"></i>
														<span class="align-middle">Mon profile</span>
													</a>
												</li>
												{% if is_granted('ROLE_ADMIN') %}
													<li>
														<a class="dropdown-item" href="{{path('app_user_dashboard')}}">
															<i class="bx bxs-dashboard me-2"></i>
															<span class="align-middle">Panel Admin</span>
														</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{ path('app_edit_profile', {'id': app.user.id}) }}">
														<i class="bx bx-cog me-2"></i>
														<span class="align-middle">Parametres</span>
													</a>
												</li>
												<li>
													<div class="dropdown-divider"></div>
												</li>
												<li>
													<a class="dropdown-item" href="{{ path('app_logout') }}">
														<i class="bx bx-power-off me-2"></i>
														<span class="align-middle">Deconnection</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								{% else %}
									<button class="btn btn-outline-primary" type="button">Connection</button>
								{% endif %}
							</ul>
						</div>
					</nav>
					<img src="../nav/img/front-pages/backgrounds/cta-bg-light.png" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" style="height: 104%% !important;"/>

					{% block AdminContent %}{% endblock %}
				</div>
			</div>
			<div class="layout-overlay layout-menu-toggle"></div>
		</div>
		<script src="{{ asset('assets/') }}/vendor/libs/jquery/jquery.js"></script>
		<script src="{{ asset('assets/') }}/vendor/libs/popper/popper.js"></script>
		<script src="{{ asset('assets/') }}/vendor/js/bootstrap.js"></script>
  		<script src="{{ asset('assets/') }}/vendor/js/menu.js"></script>
		<script src="{{ asset('assets/') }}/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
		<script src="{{ asset('assets/') }}/js/main.js"></script>
		<script async defer src="https://buttons.github.io/buttons.js"></script>
		
	</body>
</html>

