{% extends "dashboard/adminbase.html.twig" %}
{% block title %}Admin Dashboard - Utilisateurs
{% endblock %}
{% block AdminContent %}
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h5 class="mb-0">Modifier utilisateur</h5>
				</div>
				<div class="card-body">
					<form id="formAuthentication" class="mb-3" method="POST">
						{{ form_start(form) }}
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-name">ID</label>
							<div class="col-sm-10">
								{{ form_row(form.id, {'value':  uinfo.id  }) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-name">Nom</label>
							<div class="col-sm-10">
								{{ form_row(form.name, {'value':  uinfo.name  }) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-company">Prenom</label>
							<div class="col-sm-10">
								{{ form_row(form.prename, {'value':  uinfo.prename  }) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-company">Email</label>
							<div class="col-sm-10">
								{{ form_row(form.email, {'value':  uinfo.email  }) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-email">Mot de passe</label>
							<div class="col-sm-10">
									{{ form_row(form.password, {'attr': {'value': decryptedPassword}}) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-phone">N° Telephone</label>
							<div class="col-sm-10">
								{{ form_row(form.phone, {'value':  uinfo.phone  }) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-phone">Verifier</label>
							<div class="col-sm-10">
								{{ form_row(form.isVerified) }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="basic-default-phone">Role</label>
							<div class="col-sm-10">
								{% for choice in form.roles %}
									<div class="form-check form-check-inline">
										{{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
										{{ form_label(choice, null, {'label_attr': {'class': 'form-check-label'}}) }}
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="row justify-content-end">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Modifier</button>
							</div>
						</div>
						{{ form_end(form) }}
					</form>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

